<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.313902005847-v7otmk2umpk137gt9djvcd4vlv8iuq4n</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>313902005847-v7otmk2umpk137gt9djvcd4vlv8iuq4n.apps.googleusercontent.com</string>
</dict>
</plist>
